<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
   

            <div class="container">
                <div class="image">
                   <img src="/images/7.png" alt="">
                </div>
                <div class="texte">
                    <h1>INSCRIPTION</h1>
                    <p>Inscrivez vous pour beneficier de nos produits.</p>
                </div>
                <form action="/post" method="post" enctype="multipart/form-data">
                    <input type="text" class="input" name="nom" placeholder="Nom">
                    <input type="text" class="input" name="prenom" placeholder="Premon">
                    <label id="image">
                     <input type="file" / class="inputfile" name="image">
                     <i class="fa fa-cloud-upload"></i> Télécharger votre image
                    </label>
                    <input type="password" class="input" name="password" placeholder="Mot de passe">
                    <button type="submit" class="btn boutton mt-2">Enregister</button>
                </form>
            </div>

</body>
</html>