<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/resultat.css">
    <title>resultat</title>
</head>
<body>
    
    <div class="container">
        <% success.forEach(function(user){ %>
        <div class="content">
            <div class="user-content">
                <p><%= user.nom %></p>
                <p><%= user.prenom %></p>
            </div>
            <div class="user-image">
                <img src="/uploads/<%= user.image %>" />
            </div>
        </div>
        <% }); %>
       
    </div>



</body>
</html>